$body: #d6edff;
$header: #dfbbb1;
$footer: #dfbbb1;
$h2: #e26d5a;
$h3: #e26d5a;
$a: #e26d5a;
$border: #dfbbb1;
$title: #e26d5a;
$subtitle: #e26d5a;
$text: #23395b;
$author: #bc75ef;
$collaborator: #bc75ef;
$language: #68b0ab;
$topic: #68b0ab;
$external_link: #bc75ef;
$created_at: #68b0ab;
$updated_at: #68b0ab;
