$body: #d6edff;
$header: #dfbbb1;
$footer: #dfbbb1;
$h3: #e26d5a;
$a: #e26d5a;
$title: #e26d5a;
$subtitle: #e26d5a;
$text: #23395b;
$author: #bc75ef;
$collaborator: #bc75ef;
$language: #a6ebc9;
$topic: #a6ebc9;
$external_link: #a6ebc9;
$created_at: #dfbbb1;
$updated_at: #dfbbb1;
